{# core/templates/core/nav.html #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Villa Verde</a>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
            {% if en_junta %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'organizar_taller' %}">Organizar un taller</a>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'historial_talleres' %}">Historial de talleres publicados</a>
                </li>                                
            {% endif %}
            <li class="nav-item">
                <form method="post" action="{% url 'Cerrar_sesion' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-link p-0" style="vertical-align: middle;">Cerrar sesión</button>
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'iniciar_sesion' %}">Iniciar sesion</a>
            </li>
        {% endif %}        
      </ul> 
    </div>
  </div>
</nav>
